'editor':
  'autoIndentOnPaste': true
  'fontFamily': 'Monaco'
  'fontSize': 14
  'preferredLineLength': 80
  'showIndentGuide': true
  'showInvisibles': true
  'tabLength': 4
'core':
  'themes': [
    'spacegray-dark-ui'
    'tomorrow-night-eighties-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    'node_modules'
  ]
  'disabledPackages': []
'exception-reporting':
  'userId': '9a0bb649-c613-b331-2823-feb5dd17b3e8'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '81f3a1df1486d208a9113d029074435f40278252'
'autocomplete': {}
'autocomplete-plus': {}
'autoprefixer':
  'browsers': [
    '> 1%'
    'last 2 versions'
    'Firefox ESR'
    'Opera 12.1'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
'whitespace': {}
